
label {
	font-family: "Open Sans";
}

body {
	background-color: #F7F0ED;
}

.page {
	height: 100%;
	width: 100%;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;

	top: 0px;
	left: 0px;


	height: 10vh; 
	width: 100%;
	background-color: #e94f4f;

	z-index: 10;
}

.banner .logo {
	height: 80%;
	width: auto;
	margin-left: 2%;
	margin-right: 4%;
}

.banner .search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60%;
	width: 60%;


	border-radius: 30px;

	background-color: #F7F0ED;

}


.banner .searchBar {
	height: 80%;
	width: 100%;
	font-size: 18px;
	margin-right: 2%;
	margin-left: 2%;
	border: none;
	outline: none;
	background-color: #F7F0ED;
}

.banner .filterLogo {
	height: 70%;
	width: auto;
	margin-right: 3%;
}

.banner .searchLogo {
	height: 70%;
	width: auto;
	margin-right: 3%;
}

.banner .bell {
	height: 40%;
	width: auto;
}

.banner .languageContainer {
	margin-right: 2%;
	margin-left: 2%;

	height: 50%;
	width: 6vw;
}

.banner .language {
	display: flex;
	justify-content: space-between;
	align-items: center;


	height: 100%;
	width: 100%;

	background-color: #F7F0ED;
	border-radius: 40px;
}

.banner .language .languageIco {
	height: 80%;
	width: auto;
	margin-left: 0.8vw; 
}

.banner .language .language-current {
	margin-right: 1vw;
	font-size: clamp(1px, 1vw, 1vw);

}


.helpContainer {
	position: relative;

	margin-top: 10.5vh;

	height: 3%;
	width: 100%;
}

.helpContainer img {
	float: right;
	padding-right: 0.6vw;
	padding-top: 0.6vh;

	height: 3vh;
	width: auto;
}

.reportContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	height: 8%;
	width: 100%;

}

.reportContainer .report {
	display: flex;
	justify-content: center;
	align-items: center;

	
	height: 100%;
	width: 50%;

	border-radius: 50px;
	background-color: #e94f4f;
}

.reportContainer .report img {
	padding-right: 20px;
	padding-left: 30px;
	height: 80%;
	width: auto;
}

.reportContainer .report label {
	padding-right: 30px;
	font-size: clamp(14px, 2vw, 45px); 
	color: #F7F0ED;
}


.incidents{
	margin-top: 2%;
}

.incidents .recent {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 35%;
	width: 100%;

}

.incidents .recent .info label { 
	font-size: clamp(14px, 2vw, 22px);
}

.incidents .recent .info {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 10%;
	width: 100%;

}

.incidents .recent .info .left {
	display: flex;
	justify-content: flex-start;
	padding-left: 30px;
	height: 100%;
	width: 100%;
}

.incidents .recent .info .right {
	display: flex;
	justify-content: flex-end;
	
	height: 100%;
	width: 100%;
}

.incidents .recent .info .right label {
	padding-right: 60px;
}


.incidents .local {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 35%;
	width: 100%;

}

.incidents .local .info label { 
	font-size: clamp(14px, 2vw, 22px);
}

.incidents .local .info {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 10%;
	width: 100%;

}

.incidents .local .info .left {
	display: flex;
	justify-content: flex-start;
	padding-left: 30px;
	height: 100%;
	width: 100%;
}

.incidents .local .info .right {
	display: flex;
	justify-content: flex-end;
	
	height: 100%;
	width: 100%;
}

.incidents .local .info .right label {
	padding-right: 60px;
}







.close {
	display: flex;
	position: absolute;
	height: 35px;
	width: auto;

	top: 18px;
	right: 10px;
}

.header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	height: 50px;
	width: 100%;
}

.header label {
	font-family: "Open Sans";
	font-size: 35px;
}

