
label {
	font-family: "Open Sans";
}

body {
	/*background-color: #F7F0ED;*/
	background-color: #fff;
}

.page {
	height: 100%;
	width: 100%;
}



.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;

	top: 0px;
	left: 0px;


	height: 70px;
	width: 100%;
	background-color: #e94f4f;

	z-index: 10;
}

.banner .logo {
	height: 80%;
	width: auto;
	margin-left: 2%;
	margin-right: 4%;
}



.banner .search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60%;
	width: 60%;


	border-radius: 30px;

	/*background-color: #F7F0ED;*/
	background-color: #f7f7f7;

}

.banner .searchBar {
	height: 80%;
	width: 100%;
	font-size: 18px;
	margin-right: 2%;
	margin-left: 2%;
	border: none;
	outline: none;
	/*background-color: #F7F0ED;*/
	background-color: #f7f7f7;
}

.banner .filterLogo {
	height: 70%;
	width: auto;
	margin-right: 3%;
}

.banner .searchLogo {
	/*
	height: 70%;
	width: auto;
	margin-right: 3%;
	*/
	width: 28px;
	height: 28px;
	object-fit: contain;
	vertical-align: middle;
	margin: 0 10px;
}



.banner .signContainer {
	margin-right: 1vw;
	margin-left: 2vw;
	height: 60%;
	width: 100px;
}

.banner .signContainer button {
	height: 100%;
	width: 100%;

	border-radius: 40px;
	background-color: #f7f7f7;
	border-color : #d14646;

	font-size: 15px;
}



.banner .languageContainer {
	margin-right: 2vw;
	margin-left: 1vw;

	height: 60%;
	width: 100px;

}

.banner .languageContainer button {
	display: inline-flex;
	align-items: center;
	text-align: center;


	height: 100%;
	width: 100%;

	/*background-color: #F7F0ED*/;
	background-color: #f7f7f7;
	border-color : #d14646;
	border-radius: 40px;
}

.banner .language .languageIco {
	height: 70%;
	width: auto;
	margin: auto;
}

.banner .language .language-current {
	margin: auto;
	font-size: 15px;

}


/* search function - results */
.search-results
{
	background: #fff;
	padding: 22px 32px 22px 32px;
	margin: 35px 0 20px 40px;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}

.search-results ul
{
	list-style: disc inside;
	margin: 0 0 0 12px;
	padding: 0;
}

.search-results li
{
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
	color: #333;
	letter-spacing: 0.01em;
	font-size: 1.12rem;
	list-style: none;
}

.search-results p
{
	color: #888;
	margin: 30px 0 0 0;
	font-size: 1.08rem;
	
}



.reportContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;

	position: relative;
	height: 50px;
	width: 100%;

}

.reportContainer button {
	display: flex;
	justify-content: center;
	align-items: center;

	
	height: 100%;
	width: 50%;

	border-radius: 50px;
	background-color: #e94f4f;
	border-color : #d14646;
}

.reportContainer .report img {
	padding-right: 20px;
	padding-left: 30px;
	height: 80%;
	width: auto;
}

.reportContainer .report label {
	padding-right: 30px;
	font-size: 20px;
	color: #F7F0ED;
}



.incidents{
	margin-top: 20px;
}

.incidents .recent {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 250px;
	width: 100%;

}

.incidents .recent .info label { 
	font-size: clamp(14px, 2vw, 22px);
}

.incidents .recent .info {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 10%;
	width: 100%;

}

.incidents .recent .info .left {
	display: flex;
	justify-content: flex-start;
	padding-left: 30px;
	height: 100%;
	width: 100%;
}

.incidents .recent .info .right {
	display: flex;
	justify-content: flex-end;
	text-align: right;

	height: 100%;
	width: 100%;
}

.incidents .recent .info .right label {
	padding-right: 60px;
}


.incidents .local {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 250px;
	width: 100%;

}

.incidents .local .info label { 
	font-size: clamp(14px, 2vw, 22px);
}

.incidents .local .info {
	display: flex;
	justify-content: space-between;
	position: relative;	

	height: 10%;
	width: 100%;

}

.incidents .local .info .left {
	display: flex;
	justify-content: flex-start;
	padding-left: 30px;
	height: 100%;
	width: 100%;
}

.incidents .local .info .right {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	
	height: 100%;
	width: 100%;
}

.incidents .local .info .right label {
	padding-right: 60px;
}







.missing-person-card {
	display: flex;
	flex-wrap: wrap;
	background-color: #e94f4f;
	border-radius: 10px;
	padding: 0.2px 10px;
	margin: 10px 10px;
}


.missing-person-card .info {
	position: relative;
}