<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Person - After Response</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'after-response.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="response-container">
        <button class="close-btn" onclick="window.history.back()">&times;</button>
        <h1>Missing Person (Reported Found)</h1>

        <div class="response-content">
            <div class="response-left">
                <div class="profile-picture">
                    {% if image %}
                        <img src="data:image/png;base64,{{ image }}" class="profile-img">
                    {% else %}
                        <img src="{{ url_for('static', filename='ressources/pp-placeholder.png') }}" class="profile-img" alt="No Photo">
                    {% endif %}
                </div>
                <div class="details-co-in">
                    <div>Country<br>
                        <span class="data">{{ report.Country or '—' }}</span></div>
                    <div>Incident Related<br>
                        <span class="data">{{ report.IncidentRelated or '-' }}</span></div>
                </div>
            </div>
            <div class="response-right">
                <div>Name<br>
                    <span class="data">{{ report.MissingFN }} {{ report.MissingLN }}</span></div>

                <div>Age<br>
                    <span class="data">{{ report.Age }}</span></div>

                <div>Identification Mark<br>
                    <span class="data">{{ report.IdentificationMark or '—' }}</span></div>

                <br>

                <div>Response<br>
                    <span class="data">{{ report.FoundCondition }}</span></div>

                <div>Place Found<br>
                    <span class="data">{{ report.FoundLocation }}</span></div>

                <div>Time Found<br>
                    <span class="data">{{ report.FoundDate }}</span></div>

                <div>Responder Name<br>
                    <span class="data">{{ report.ResponderFN }} {{ report.ResponderLN}}</span></div>

                <div>Responder Contact Information<br>
                    <span class="data">{{ report.FoundContact }}</span></div>
            </div>
        </div>
        <div style="margin: 35px 0 0 70px;">
			<a href="{{ url_for('index') }}" class="back-btn">&larr; Back to Home</a>
		</div>
    </div>
</body>
</html>