<!DOCTYPE html>
<html lang="{{ current_lang }}">

<head>
	<title>Hope For All</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>


<body>
	<div class="banner">
		<img src="{{ url_for('static', filename='ressources/logo-white.png')}}" class="logo" onclick="location.href = '/'"></img>

		<!-- Old Version Before Json -->
		<!--
		<form action="{{ url_for('search') }}" class="search" method="get" style="display: flex;">
			<input type="text" class="searchBar" name="query" placeholder="Search.....">
			<button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
				<img src="{{ url_for('static', filename='ressources/search.png') }}" class="searchLogo" alt="Search">
			</button>
		</form>
		-->

		<!-- New version in case it crashes -->
		<form action="{{ url_for('search') }}" class="search" style="display: flex; position: relative; width: 100%;" autocomplete="off">
			<input type="text" class="searchBar" id="live-search" name="query" autocomplete="off" placeholder="{{ _('Search') }}..." style="flex: 1;">
			<button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
				<img src="{{ url_for('static', filename= 'ressources/search.png') }}" class="searchLogo" alt="Search">
			</button>
			<div id="search-dropdown" class="search-dropdown" style="display: none;"></div>
		</form>

		<!-- Language selection -->
		<div class="language-selection-container">
			<img src="{{ url_for('static', filename = 'ressources/language.png') }}" class="language-icon" id="openLanguageSelection">

			<div class="language-selection" id="languageSelection">
				<a href="{{ url_for('change_language', lang = 'en') }}">English</a> 
				<a href="{{ url_for('change_language', lang = 'mi') }}">Te Reo Māori</a>
				<a href="{{ url_for('change_language', lang = 'fr') }}">Français</a>
				<a href="{{ url_for('change_language', lang = 'zh_Hans_CN') }}">中文</a>
				<a href="{{ url_for('change_language', lang = 'my_MM') }}">မြန်မာစာ</a>
			</div>
		</div>


		<div class="account">
			<div class="signContainer">
				<button onclick="location.href='/register';"><b>{{ _('Sign Up') }}</b></button>
			</div>
			<div class="loginContainer">
				<button onclick="location.href='/login';"><b>{{ _('Sign In') }}</b></button>
			</div>
		</div>


		<!-- Don't have time to implement this feature, fuck it, we roll.
		<div class="languageContainer"> 
			<button class="language">
				<img src="{{ url_for('static', filename='ressources/language.png') }}" class="languageIco"></img>
				<label class="language-current"><b>Eng</b></label>
			</button>
		</div>
		-->

		</div>
	<div>

	<div class="reportContainer">
		<button class="report" onclick="location.href='/reportMissing';">
			<img src="{{ url_for('static', filename='ressources/missing.png') }}"></img>
			<label>{{ _('Report Missing Person') }}</label>
		</button>
	</div>


	<div class="incidents">
			<div class="content">
				{% for missing in missings %}
					<a href="{{ url_for('MP_index', MID = missing['MID']) }}" style="text-decoration: none ; color: #fff;">
						<div class="missing-person-card">
							{% if images[missing['MID']] %}
								<img class="profile-picture" src="data:image/jpg;base64,{{ images[missing['MID']] }}">
							{% else %}
								<img class="profile-picture" src="{{ url_for('static', filename='ressources/pp-placeholder.png') }}">
							{% endif %}
							<h3>{{ missing["FirstName"] }} {{ missing["LastName"]}}</h3>
							<div class="info">
								<p>{{ missing["Age"] }} {{_('yrs')}}</p>
								<p>{{ missing["LastKnownLocation"] }}</p>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

		</div>

		</div>
	</div>

	</div>

	
	<!-- JavaScript for dropdown function -->
	<script src="{{ url_for('static', filename = 'javascript/search.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascript/language.js') }}"></script>

</body>
</html>
