<head>
	<title>Hope For All</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>


<body>
	<div class="banner">
		<img src="{{ url_for('static', filename='ressources/logo-white.png')}}" class="logo"></img>

		<div class="search">
			<input type="text" class="searchBar" name="searchBar" placeholder="Search...">
			<img src="{{ url_for('static', filename='ressources/filter.png') }}" class="filterLogo"></img>
			<img src="{{ url_for('static', filename='ressources/search.png') }}" class="searchLogo"></img>
		</div>

		<div class="signContainer">
			<button onclick="location.href='/login';"><b>Sign In</b></button>
		</div>

		<div class="languageContainer"> 
			<button class="language">
				<img src="{{ url_for('static', filename='ressources/language.png') }}" class="languageIco"></img>
				<label class="language-current"><b>Eng</b></label>
			</button>
		</div>

			</div>

	<div>

	<div class="reportContainer">
		<button class="report">
			<img src="{{ url_for('static', filename='ressources/missing.png') }}"></img>
			<label>Report Missing Person</label>
		</button>
	</div>


	<div class="incidents">
		<div class="recent">
			<div class="info">
				<div class="left">
					<label class="recentLabel">Recent Incident</label>
				</div>
				<div class="right">
					<label class="checkLabel"><u>Check Other Incidents</u></label>
					<label class="registerLabel"><u>Register New Incident</u></label>
				</div>
			</div>
			<div class="content">
				{% for missing in missings %}
					<div class="missing-person-card">
						<h3>{{ missing.FirstName }}</h3>
						<div class="info">
							<p>{{ missing.age }} yrs</p>
							<p>{{ missing.LastKnownLocation }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="local">
			<div class="info">
				<div class="left">
					<label class="localLabel">Your Location - [Country]</label>
				</div>
				<div class="right">
					<label class="otherCountryLabel"><u>Other Countries</u></label>
				</div>
			</div>
			<div class="content">
			
			</div>


		</div>

		</div>
	</div>

	</div>
</body>
