<!DOCTYPE html>
<html lang="{{ current_lang }}">

<head>
	<title>Report Missing Person</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='missing-person.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>

<body>
	<div class="content-container">
		<button class="close" onclick="window.location.href = '/';">&times;</button>
		<div class="header">
			<label><b>{{_('Missing Person Information')}}</b></label>
		</div>

		<div class="response-content">
			<div class="response-left">
				{% if image %}
					<img class="profile-picture" src="data:image/jpg;base64,{{ image }}">
				{% else %}
					<img class="profile-picture" src="{{ url_for('static', filename = 'ressources/pp-placeholder.png') }}" >
				{% endif %}
				
				<div class="details-co-in">
					<div>{{_('Country')}}<br>
						<span class="data">{{ missingPerson[11] or '-' }}</span></div>
					<div>{{_('Incident Related')}}<br>
						<span class="data">{{ missingPerson[10] or '-' }}</span></div>
				</div>
			</div>
		
			<div class="response-right">
				<div>{{_('Name')}}<br>
					<span class="data">{{ missingPerson[2] }} {{ missingPerson[3] }}</span></div>
			
				<div>{{_('Age')}}<br>
					<span class="data">{{ missingPerson[5] }}</span></div>
			
				<div>{{_('Identification Mark')}}<br>
					<span class="data">{{ missingPerson[6] }}</span></div>
			
				<div>{{_('Reporter Contact Information')}}<br>
					<span class="data">{{ missingPerson[7] }}</span></div>
			
				<div>{{_('Missing Since')}}<br>
					<span class="data">{{ missingPerson[8] }}</span></div>
			
				<div>{{_('Last Known Location')}}<br>
					<span class="data">{{ missingPerson[9] }}</span></div>
			
				<div>{{_('Additional Information')}}<br>
					<span class="data">{{ missingPerson[14] or 'None' }}</span></div>
			</div>
		</div>
		
		<!--
		<div class="field1">
			{% if image %}
				<img class="profile-picture" src="data:image/jpg;base64,{{ image }}"></img>
			{% else %}
				<div class="profile-picture"></div>
			{% endif %}
			<div class="info1">
				<label>Name</label>
				<label class="oname data"><b>{{ missingPerson[2] }} {{ missingPerson[3] }}</b></label>
				
				<label>Age</label>
				<label class="oage data"><b>{{ missingPerson[5] }}</b></label>
				
				<label>Identification Mark</label>
				<label class="oidm data"><b>{{ missingPerson[6] }}</b></label>
				
				<label>Reporter Contact Information</label>
				<label class="ocontact data"><b>{{ missingPerson[7] }}</b></label>
				
				<label>Missing Since</label>
				<label class="omissing data"><b>{{ missingPerson[8] }}</b></label>
				
				<label>Last Known Location</label>
				<label class="ollocation data"><b>{{ missingPerson[9] }}</b></label>
				
				<label>Additional Information</label>
				<label class="notes data"><b>{{ missingPerson[14] or 'None' }}</b></label>
			</div>
		</div>
		<div class="field2">
			<div class="info2">
				<label>Country</label>
				<label class="data"><b>{{ missingPerson[11] or '-' }}</b></label>
				<br>
				<label>Incident Related</label>
				<label class="data"><b>{{ missingPerson[10] or '-' }}</b></label>
			</div>

		</div>
		-->
		<div class="buttons">
			<button class="edit" onclick="location.href = '/edit/{{ missingPerson[0]}}'"><b>{{_('Edit')}}</b></button>
			<button class="found" onclick="location.href = '/confirm/{{ missingPerson[0] }}'"><b>{{_('Found!')}}</b></button>
		</div>
	</div>

<body>

</html>