<head>
	<title>Report Missing Person</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='report-missing.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>

<body>
	<button class="close">&times;</button>
	<div class="header">
		<label><b>Report Missing Person</b></label>
	</div>

	<form action="/reportMissing/submit" method="post">
		<div class="content">
			<div class="field1">
				<div class="profile-picture"></div>
				<div class="inputs">
					<input class="iname" name="iname" type="text" placeholder="Missing Person's Name *"></input>
					<input class="iage" name="iage" type="text" placeholder="Missing Person's Age *"></input>
					<input class="iidmark" name="iidmark" type="text" placeholder="Missing Person's Identification Mark *"></input>
					<input class="icontact" name="icontact" type="text" placeholder="Contact Information *"></input>
				</div>
			</div>
			<div class="field2">
				<input class="imissdate" name="imissdate" type="text" placeholder="Missing Since (Date)"></input>
				<input class="irelated" name="irelated" type="text" placeholder="Incident Related"></input>
				<input class="ilastlocation" name="ilastlocation" type="text" placeholder="Last Known Location (Address)"></input>
				<input class="icountry" name="icountry" type="text" placeholder="Country"></input>
				<input class="ireportername" name="ireportername" type="text" placeholder="Reporter's Name"></input>
				<input class="irelation" name="irelation" type="text" placeholder="Relation to Missing Person"></input>
				<input class="inotes" name="inotes" type="text" placeholder="Additional Notes"></input>
			</div>
			<button type="submit">Submit</button>
		</div>
	</form>
</body>
